In [68]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [69]:
techlog_raw = pd.read_csv("csv_data_files\TECHLOG.csv")
techlog_raw['DATE'] = pd.to_datetime(techlog_raw['DATE'], format="%Y-%m-%d")
techlog_raw['ATA'] = techlog_raw['ATA'].astype("category")

util_raw = pd.read_csv("./csv_data_files/UTIL.csv")
util_raw['TO_DATETIME'] = pd.to_datetime(util_raw['TO_DATE'] + ' ' + util_raw['TO_TIME (UTC)'])
util_raw['LAND_DATETIME'] = pd.to_datetime(util_raw['LAND_DATE'] + ' ' + util_raw['LAND_TIME (UTC)'])
util_raw['FL_DURR'] = util_raw['LAND_DATETIME'] - util_raw['TO_DATETIME']
util_raw.drop(columns=['TO_DATE', 'TO_TIME (UTC)', 'LAND_DATE', 'LAND_TIME (UTC)'], inplace=True)

In [70]:
pirep_tbl = techlog_raw[techlog_raw['PM'] == "PIREP"].groupby(['ATA',pd.Grouper(key='DATE', freq='M')])[['PM']].count()

In [71]:
mon_hrs = util_raw.groupby(pd.Grouper(key='TO_DATETIME', freq='M'))[['FL_DURR']].sum()
mon_hrs['FL_DURR'] = mon_hrs['FL_DURR']/np.timedelta64(1,'s')/3600

In [119]:
pirep_tbl.loc['21':,:]

                PM
ATA DATE
21  2022-04-30   0
    2022-05-31   0
    2022-06-30   3
25  2022-04-30   0
    2022-05-31   0
    2022-06-30   0
27  2022-04-30   2
    2022-05-31   0
    2022-06-30   0
33  2022-04-30   0
    2022-05-31   0
    2022-06-30   0
34  2022-04-30   0
    2022-05-31   0
    2022-06-30   0
36  2022-04-30   2
    2022-05-31   0
    2022-06-30   0
52  2022-04-30   0
    2022-05-31   0
    2022-06-30   0