In [106]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [123]:
status = pd.read_csv("./csv_data_files/CONFIG_DB.csv")[['MSN', 'REGISTRATION', 'AIRCRAFT TYPE', 'CURR_TOTAL_HOURS', 'CURR_TOTAL_CYCLES', 'STATUS']]
status.rename(columns={"CURR_TOTAL_HOURS": "TSN", "CURR_TOTAL_CYCLES": "CSN"}, inplace=True)

In [124]:
status

    MSN REGISTRATION AIRCRAFT TYPE           TSN    CSN  STATUS
0  3809       PK-PWA      A320-214  38434.333333  19889  ONLINE
1  5463       PK-PWC      A320-214  26925.466667  17418  ONLINE