In [5]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [6]:
util_raw = pd.read_csv("./csv_data_files/UTIL.csv")
util_raw['TO_DATETIME'] = pd.to_datetime(util_raw['TO_DATE'] + ' ' + util_raw['TO_TIME (UTC)'])
util_raw['LAND_DATETIME'] = pd.to_datetime(util_raw['LAND_DATE'] + ' ' + util_raw['LAND_TIME (UTC)'])
util_raw['FL_DURR'] = util_raw['LAND_DATETIME'] - util_raw['TO_DATETIME']
util_raw.drop(columns=['TO_DATE', 'TO_TIME (UTC)', 'LAND_DATE', 'LAND_TIME (UTC)'], inplace=True)

del_raw = pd.read_csv("./csv_data_files/DELAYS.csv")
del_raw['DATE'] = pd.to_datetime(del_raw['DATE'])

In [7]:
util_raw.head()

,AC_REG,DEP_STA,ARR_STA,CYC,DELAY,IMPACT_DEL,DR,FL_DURR,TO_DATETIME,LAND_DATETIME
0,PK-PWA,SHJ,CCU,1,0,0,NaN,0 days 04:46:00,2022-04-10 22:43:00,2022-04-11 03:29:00
1,PK-PWA,CCU,CGK,1,0,0,NaN,0 days 05:04:00,2022-04-17 04:56:00,2022-04-17 10:00:00
2,PK-PWA,CGK,KNO,1,0,0,NaN,NaT,NaT,NaT
3,PK-PWA,KNO,CGK,1,0,0,NaN,0 days 02:10:00,2022-04-24 07:48:00,2022-04-24 09:58:00
4,PK-PWA,CGK,BDJ,1,0,0,NaN,NaT,NaT,NaT

In [22]:
dff = util_raw.groupby(pd.Grouper(key='TO_DATETIME', freq='W-MON'))[['CYC', 'DELAY', 'IMPACT_DEL']].sum()

In [23]:
dff['DR'] = (dff['CYC'] - dff['DELAY']) * 100 / dff['CYC']

In [28]:
df = util_raw.groupby(pd.Grouper(key='TO_DATETIME', freq='M'))[['CYC', 'DELAY', 'IMPACT_DEL']].sum()

In [29]:
df['DR'] = (df['CYC'] - df['DELAY']) * 100 / df['CYC']

In [30]:
df

             CYC  DELAY  IMPACT_DEL          DR
TO_DATETIME
2022-04-30    27      0           0  100.000000
2022-05-31    30      1           0   96.666667
2022-06-30    36      0           0  100.000000

In [52]:
weekly = []

In [54]:
if weekly:
    print("wew")
else:
    print("waw")

waw